extends structure

block banner
  include _nav0

block sidebar
  include _nav2

block main
  h3 Other services
  p South East Nutrition and Health can provide health screening and blood test profiles and analyses. Following a consultation a test may be recommended to identify particular nutritional needs in detail. The available tests are listed below:
  ul
    li Mineral Profile
    li Calcium
    li Magnesium
    li Zinc
    li Iron
    li Copper
    li Chromium
    li Manganese
    li Selenium
    li Vitamin Profile
    li Vitamin A,
    li Vitamins B1, B2, B6, B12,
    li Vitamin D(1,25 Dihydroxy), D(25 OH)
    li Well Person Profile
    li Biochemistry Profile
    li Haematology Profile
    li Free T4 & TS
    li Lipid Profile
    li ESR
    li Well Man Profile
    li Well Person profile
    li PSA
    li High Sensitivity CRP
    li Well Woman Profile
    li Well Person Profile
    li Iron Status
    li High Sensitivity CRP
    li Cardiac Risk Profile
    li Well Person Profile
    li Lipoprotein
    li High Sensitivity CRP
    li Homocysteine
    li Insulin
    li Iron Status
    li Haematology Profile
    li Serum Iron
    li Ferritin
    li TIBC (Total Iron Binding Capacity)
    li Lipid Profile
    li Cholesterol
    li Triglycerides
    li High Density Lipoproteins (HDL)
    li Low Density Lipoproteins (LDL)
    li Other services:
    li Coeliac
    li Bone profile
    li Thyroid
    li Allergy
    li Semen analysis
    li Gut hormones
    li Folate
    li Glucose
    li HbA1c
    li Iodine
    li Lead
    li Mercury
    li Malarial Parasites
    li Om6/EPA Om3
block images
  img(src="images/YourHealth000.jpg" width="100px")
