extends structure

block banner
  include _nav0

block sidebar
  include _nav2

block main
  h3 Other services
  p South East Nutrition and Health can provide health screening and blood test profiles and analyses. Following a consultation a test may be recommended to identify particular nutritional needs in detail. The available tests are listed below:
  .row
    .col-6
      ul.list-group
        li.list-group-item Mineral Profile
        li.list-group-item Calcium
        li.list-group-item Magnesium
        li.list-group-item Zinc
        li.list-group-item Iron
        li.list-group-item Copper
        li.list-group-item Chromium
        li.list-group-item Manganese
        li.list-group-item Selenium
        li.list-group-item Vitamin Profile
        li.list-group-item Vitamin A,
        li.list-group-item Vitamins B1, B2, B6, B12,
        li.list-group-item Vitamin D(1,25 Dihydroxy), D(25 OH)
        li.list-group-item Well Person Profile
        li.list-group-item Biochemistry Profile
        li.list-group-item Haematology Profile
        li.list-group-item Free T4 & TS
        li.list-group-item Lipid Profile
        li.list-group-item ESR
        li.list-group-item Well Man Profile
        li.list-group-item Well Person profile
        li.list-group-item PSA
        li.list-group-item High Sensitivity CRP
        li.list-group-item Well Woman Profile
        li.list-group-item Well Person Profile
        li.list-group-item Iron Status
        li.list-group-item High Sensitivity CRP
        li.list-group-item Cardiac Risk Profile
        li.list-group-item Well Person Profile
    .col-6
      ul.list-group
        li.list-group-item Lipoprotein
        li.list-group-item High Sensitivity CRP
        li.list-group-item Homocysteine
        li.list-group-item Insuli.list-group-itemn
        li.list-group-item Iron Status
        li.list-group-item Haematology Profile
        li.list-group-item Serum Iron
        li.list-group-item Ferritin
        li.list-group-item TIBC (Total Iron Binding Capacity)
        li.list-group-item Lipid Profile
        li.list-group-item Cholesterol
        li.list-group-item Triglycerides
        li.list-group-item High Density Lipoproteins (HDL)
        li.list-group-item Low Density Lipoproteins (LDL)
        li.list-group-item Other services:
        li.list-group-item Coeli.list-group-itemac
        li.list-group-item Bone profile
        li.list-group-item Thyroid
        li.list-group-item Allergy
        li.list-group-item Semen analysis
        li.list-group-item Gut hormones
        li.list-group-item Folate
        li.list-group-item Glucose
        li.list-group-item HbA1c
        li.list-group-item Iodine
        li.list-group-item Lead
        li.list-group-item Mercury
        li.list-group-item Malarial Parasites
        li.list-group-item Om6/EPA Om3
block images
  img(src="images/YourHealth000.jpg" width="100px")
