extends structure

block banner
  include _nav0

block sidebar
  include _nav2

block main
  h3 Consultation
  p A one to one consultation with us gives you the opportunity to discuss your individual dietary needs and goals. We will ask you about your relevant medical and social history, your lifestyle and typical food choices and eating patterns. We are fully aware that any changes to your diet and lifestyle that we recommend have to be achievable and realistic if they are to work for you in the long term.
  h3 Packages
  p Standard services
  p Service	Price
  p Initial phone consultation (10 minutes)	FREE
  p Initial consultation (1 hour)	£75
  p Follow-up appointments (per 15 minutes)	£20
  p Dietary analysis with full report	£95
  p Packages
  p Package	Description	Price
  p Appointment Plus	Initial appointment plus 30 minute follow up	£105
  p Starter	A starter package is ideal for anyone wanting to achieve nutrition or lifestyle improvements. It comprises:
  ul
    li A total of 3 hours of one-on-one time with us
    li Nutrition and lifestyle advice to help you reach your goals
    li Meal ideas and plans to fit in with your lifestyle
    li A problem-solving approach to help you overcome any difficulties
    li Support, advice and motivational techniques to keep you on track 
    li £200
    li Weight loss	Initial appointment plus 30 minute follow up and two 15 minute follow-up sessions	£125
    li Follow up	Pay for 3 and get 4th free	£60
    li Packages include a discount when booked and purchased together.
    li Fees may vary dependent on location and packages. 
    
  p All fees are in line with the British Dietetic Association standards and recommendations.

block images
  img(src="images/YourHealth000.jpg" width="100px")