a.bonafides.hcpc(href="https://www.hcpc-uk.org/" target="_blank")
  img(src="images/hpcLogo.png" width="100px")
a.bonafides.bda(href="https://www.bda.uk.com/" target="_blank")
  img(src="images/mbdaLogo.png" width="100px")