.card
  .card-body
    .p
      a.className#idName(href="p10_diabetes") Diabetes
    .p
      a.className#idName(href="p11_heartHealth") Heart Health
    .p
      a.className#idName(href="p12_IBS") Irritable Bowel Syndrome
    .p
      a.className#idName(href="p13_mineralVitamins") Mineral and Vitamin Deficiency
    .p
      a.className#idName(href="p14_allergy") Food allergy or intolerance
    .p
      a.className#idName(href="p15_weightLoss") Weight loss
    .p
      a.className#idName(href="p16_families") Healthy eating for families
    .p
      a.className#idName(href="p17_veg") Vegetarian/Vegan
    .p
      a.className#idName(href="p18_cancer") Cancer
    .p
      a.className#idName(href="p19_coeliac") Coeliac disease
    .p
      a.className#idName(href="p1A_PCOS") PCOS
    .p
      a.className#idName(href="p1B_elderly") Nutrition for the elderly
    .p
      a.className#idName(href="p1C_vitality") Lethargy and loss of vitality