.nav-secondary
  ul.list-group
    li.list-group-item
      a.className#idName(href="Overview") Overview of Dietetics
    li.list-group-item
      a.className#idName(href="Consultation") Consultation
    li.list-group-item
      a.className#idName(href="OtherServices") Other services
    li.list-group-item
      a.className#idName(href="Packages") Packages
