ul.list-group
  li.list-group-item
    a.className#idName(href="Diabetes") Type 2 Diabetes
  li.list-group-item
      a.className#idName(href="HeartHealth") Heart Health
  li.list-group-item
      a.className#idName(href="IBS") Irritable Bowel Syndrome
  li.list-group-item
      a.className#idName(href="MineralsVitamins") Mineral and Vitamin Deficiency
  li.list-group-item
      a.className#idName(href="Allergies") Food allergy or intolerance
  li.list-group-item
      a.className#idName(href="WeightLoss") Weight loss
  li.list-group-item
      a.className#idName(href="Families") Healthy eating for families
  li.list-group-item
      a.className#idName(href="VeganVegetarian") Vegetarian/Vegan
  li.list-group-item
      a.className#idName(href="Cancer") Cancer
  li.list-group-item
      a.className#idName(href="Coeliac") Coeliac disease
  li.list-group-item
      a.className#idName(href="PCOS") PCOS
  li.list-group-item
      a.className#idName(href="NutritionForTheElderly") Nutrition for the elderly
  li.list-group-item
      a.className#idName(href="Vitality") Lethargy and loss of vitality