ul.list-group
  li.list-group-item
    a.className#idName(href="p10_diabetes") Diabetes
  li.list-group-item
      a.className#idName(href="p11_heartHealth") Heart Health
  li.list-group-item
      a.className#idName(href="p12_IBS") Irritable Bowel Syndrome
  li.list-group-item
      a.className#idName(href="p13_mineralVitamins") Mineral and Vitamin Deficiency
  li.list-group-item
      a.className#idName(href="p14_allergy") Food allergy or intolerance
  li.list-group-item
      a.className#idName(href="p15_weightLoss") Weight loss
  li.list-group-item
      a.className#idName(href="p16_families") Healthy eating for families
  li.list-group-item
      a.className#idName(href="p17_veg") Vegetarian/Vegan
  li.list-group-item
      a.className#idName(href="p18_cancer") Cancer
  li.list-group-item
      a.className#idName(href="p19_coeliac") Coeliac disease
  li.list-group-item
      a.className#idName(href="p1A_PCOS") PCOS
  li.list-group-item
      a.className#idName(href="p1B_elderly") Nutrition for the elderly
  li.list-group-item
      a.className#idName(href="p1C_vitality") Lethargy and loss of vitality