
.card.nav-main
  .card-body.nav-main
    a.nav-main(href="/")
      img(src="images/senh-logo-print.png" width="")
    a.nav-main(href="/") Our service |&nbsp;
    a.nav-main(href="YourHealth") Your health |&nbsp;
    a.nav-main(href="YourOrganisation") Your organisation |&nbsp;
    a.nav-main(href="About") About |&nbsp;
    a.nav-main(href="Contact") Contact
    //- a.className#idName(href="Enquiries") Enquiries
