
.card
  .card-body.nav-main
    a(href="/")
      img(src="images/senh-logo-print.png" width="")
    a(href="/") Our service
    span.spacer &nbsp;|&nbsp;
    a(href="YourHealth") Your health
    span.spacer &nbsp;|&nbsp;
    a(href="YourOrganisation") Your organisation
    span.spacer &nbsp;|&nbsp;
    a(href="About") About
    span.spacer &nbsp;|&nbsp;
    a(href="Contact") Contact
    //- a.className#idName(href="Enquiries") Enquiries
