extends layout

block content
  include _nav0
  .container-fluid.jumbotron(style="background:#efedde")
    .row
      .col-2
        include _nav1
      .col-8
        h3 Our Service ~ Inspiring healthy, balanced living through good diet
        p South East Nutrition and Health, founded by Seamus Kirk, BSc. (Hons) RD HCIMA is passionate about the benefits of nutrition, and the changes good dietary practice can bring. A Health Professions Council (HPC) registered dietitian, and a member of the British Dietetic Association (BDA), the professional body for dietitians in the UK.
        p Many of the choices we make may be less than optimal for our health; most of us know that too much fat, salt or alcohol, for example, can be harmful, but there are many foods that contain much more fat or salt or sugar than most people realise. There may be other foods that, together, or over the course of time, can constitute an unhealthy diet for us as individuals. Or it may be that beneficial foods are being omitted from your normal diet.
        p With food and health so often in the media spotlight, it can be a challenge to know what is best for you.
        p South East Nutrition and Health provides a full dietetic service to individuals and organisations to help them attain a balanced, healthy diet. This service works through a process of consultation, analysis and recommendations based on a study of the best options for dietary improvement in each case.
        p South East Nutrition and Health are committed to a high level of professionalism and quality and all our work is based on current scientific research and knowledge in order to provide the best possible dietary advice and recommendations.
        p Please use the links on this page to find out more about our service.
      .col-2
        .card
          .card-body
            img(src="images/img_main.jpg" width="100px")
