extends layout

block content
  include _nav0
  .container-fluid.jumbotron
    h2 #{title}
    .row
      .col-2
        include _nav2
      .col-8
        h1 Food Allergy and Intolerance
        p Allergic reactions and intolerance to certain foods can have an enormous impact on everyday life of those affected. In many cases sufferers are not aware that they are allergic to particular foods.
        p There is a great deal of information in the public domain related to food intolerance, much of it based on conjecture and hearsay. We take a realistic attitude to the diagnosis and treatment of allergies and food intolerance, and base our recommendations on current scientific knowledge.
        p Food allergies and intolerances can be analysed and identified and then treated with the help of nutritional advice from a dietitian.
        .col-2
