extends layout

block content
  include _nav0
  .container-fluid.jumbotron
    h2 #{title}
    .row
      .col-2
      .col-8
        h1 Contact
        p South East Nutrition and Health is a dietetic consultancy based in Guildford, Surrey.
        p Please call Seamus Kirk: 07798 526 571
      .col-2
