extends layout

block content
  h1 Enquiries
  form(action="", method="post")
    input#userId(type="email", name="")
    br
    input#password(type="password", name="")
    br
    input#submit(type="submit", name="submit", label="kjsdfkj")
    input#submit(type="submit", name="cancel")
