extends layout

block content
  include _nav0
  .container-fluid.jumbotron
    .row
      .col-2
      .col-8
        h3 Enquiries
        form(action="", method="post")
          input#userId(type="email", name="")
          br
          input#password(type="password", name="")
          br
          input#submit(type="submit", name="submit", label="kjsdfkj")
          input#submit(type="submit", name="cancel")
      .col-2
