extends layout

block content
  h2 Senh

  include nav0
  br
  br
  include nav1

  h1 Enquiries

  form(action="", method="post")
    input#userId(type="email", name="")
    br
    input#password(type="password", name="")
    br
    input#submit(type="submit", name="submit", label="kjsdfkj")
    input#submit(type="submit", name="cancel")