extends structure

block banner
  include _nav0

block sidebar
  include _nav1

block main
  h3 Enquiries
  form(action="", method="post")
    input#userId(type="email", name="")
    br
    input#password(type="password", name="")
    br
    input#submit(type="submit", name="submit", label="kjsdfkj")
    input#submit(type="submit", name="cancel")
