body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card .nav-main a {
  color: rgb(255,255,255,1);
}

.card-body {
  background:#41CDA0;
}
.card-body a {
  color: rgb(255,255,255,1);
  font-size: 1.2em;
}

.jumbotron {
  background: #efedde;
  color: rgb(55, 75, 55, 1);
}
